<div class="alert col-3 offset-8 fade show" role="alert">
    <div class="row">
        <div class="col-10">
            <h4 class="alert-heading" id="alertHeader"></h4>
        </div>
        <div class="col-1 offset-1">
            <button type="button" class="btn-close" aria-label="Close"><i class="demo-icon icon-cancel"></i></button>
        </div>
    </div>
    <div class="row">
        <p class="col-10 offset-1" id="alertContent"></p>
    </div>
</div>


{% if error is defined and error is not null %}
    {# create hidden input that stores error message #}
    <input id="errorMessage" type="hidden" class="d-none" value="{{ error.message ?? 'Unknown error occured'}}">
{% endif %}