<nav class="nav col-12" id="mainNav">
    <div class="logo col-3">
        <a href="{{ url('index') }}"><h2>WarframeBot</h2></a>
    </div>
    {% if app.user %}
        <div class="col-4 search">
            <form class="form-search col-12" id="searchItems">
                <input list="itemsList" name="name" type="text" value="{{item_name ?? ''}}" class="col-12 itemNameinput" placeholder="Search for desired item">
            </form>
        </div>
        <div class="col-5 menu-items">
            <div class="col-4"><button class="btn btn-outline-primary col-12 tooltipButton" id="addFollow" data-tooltip-placement="bottom" data-title="Add new item to follow prices">Follow new</button></div>
            <div class="col-4"><a href="{{ url('user_account') }}"><button class="btn btn-outline-primary col-12">Account <span class="notificationCounter ringAnimated"></span></button></a></div>
        </div>
    {% endif %}
</nav>
