
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-thumbs-up:before { content: '\e801'; } /* '' */
.icon-pencil:before { content: '\e802'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
