{% extends('layouts/app.html.twig') %}

{% block content %}

    <div id="admin" class="col-12 d-inline-flex">
        <div class="col-12">
            <p class="title">Administration tools</p> 
        </div>
        <div class="col-4"> 
        </div>--
        <div class="col-4"> 
        </div>
        <div class="col-4"> 
        </div>
    </div>

{% endblock %}