<div class="modal">
    <div id="background">
        <div class="row">
            <div class="col-6 offset-3 container wrapper" id="follow">
                <div class="row">
                    <div class="col-12">
                        <div class="col-12 modalBody" id="addNew">
                            <div class="row">
                                <div class="col-12 title">
                                    <div class="col-11"><p>Add item to watch</p></div>
                                    <div class="col-1 closeButton smallExit" data-title="Close form"><i class="icon icon-cancel"></i></div>
                                </div>
                            </div>
                            <div class="row col-12" id="content">
                                <div class="col-12">
                                    {# it's called as ajax request #}
                                    <form action="{{ url('item_add') }}" method="post" id="formFollow" class="col-12" autocomplete="off">
{#TODO: ADD CSRF#}
                                        <div class="form-group col-12">
                                            <span><label for="itemNameinput">Search for item part</label></span><br>
                                            <input list="itemsList" type="text" class="col-12 itemNameinput" id="itemNameinput" name="name" placeholder="Search...">
                                        </div>
                                        <div class="form-group col-12">
                                            <span><label for="itemPrice">Price</label></span><br>
                                            <input type="number" name="price" placeholder="Price for item" id="itemPrice">
                                        </div>
                                        <div class="form-group col-12">
                                            <span><label for="platformChangeUser">Platform</label></span><br>
                                            <select class="platform" id="platformChangeUser" name="platformId">
                                                <option value="1" {% if app.user.platformid is same as 1 %} selected {% endif %}>PC</option>
                                                <option value="2" {% if app.user.platformid is same as 2 %} selected {% endif %}>XBOX</option>
                                                <option value="3" {% if app.user.platformid is same as 3 %} selected {% endif %}>PS</option>
                                                <option value="4" {% if app.user.platformid is same as 4 %} selected {% endif %}>Switch</option>
                                            </select>
                                        </div>
                                        <div class="col-12" id="buttons">
                                            <div class="col-4">
                                                <button class="btn btn-outline-secondary closeButton" data-title="Close uploader">Cancel</button>
                                            </div>
                                            <div class="col-2 offset-6">
                                                <button type="submit" class="btn btn-outline-primary submit" data-title="Rename file">Create</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>