{% extends('layouts/app.html.twig') %}

{% block content %}

<div class="col-8 offset-2" id="wrapper">
    <div class="col-7" id="notifications">
        {% if notifications|length > 0 %}
            <div class="col-12">
                <p><h2>Notifications</h2></p>
            </div>
{#            {{ include('layouts.notifications.html.twig') }}#}
        {% else %}
            <h1>No notifications about your items</h1>
        {% endif %}
    </div>
    <div class="col-4 offset-1" id="account">
        <div class="col-12" id="selectPlatform">
            <p><label for="platform">Change default platform for items</label></p>
            <select class="platform" id="platformChangeGlobalUser">
                <option value="1" {% if app.user.platformid is same as 1 %} selected {% endif %}>PC</option>
                <option value="2" {% if app.user.platformid is same as 2 %} selected {% endif %}>XBOX</option>
                <option value="3" {% if app.user.platformid is same as 3 %} selected {% endif %}>PS</option>
                <option value="4" {% if app.user.platformid is same as 4 %} selected {% endif %}>Switch</option>
            </select>
        </div>
        <div class="col-12">
            <p>You're currently logged as {{ user.username }}</p>
            <a href={{ url('app_logout') }}><button class="btn btn-danger">logout</button></a>
        </div>
    </div>

</div>

{% endblock %}
